<!doctype html>
<html>
<head>
    <title>Starting Angular</title>
</head>
<!-- Notice here that ng-app references our 'weatherApp' module -->
<body ng-app='weatherApp'>
    <!-- Reference the application level controller for the title model. -->
    <div ng-controller="AppCtrl" ng-model="title">
        <img src="images/logo.jpg">
        <h1>{{title}}</h1>

        <!-- todays date-->
        <h1>{{forecast[0]['date']}}</h2>


		<h3>If this fails use Firefox</h3>
        <!-- The #home link selects routing for '/home'.  Routing for
             #add does not exist yet so the default for '/home' will be chosen.-->
        <a href="#home">Home</a> | <a href="#weather">Weather</a>
        <input type="radio" ng-model="temp.val" value="celsius">Celsius
        <input type="radio" ng-model="temp.val" value="fahrenheit">Fahrenheit<br/>

        

        <h2 ng-bind="$scope.edited"></h2>
        <hr>
        <!-- Our one page app works by switching views here. -->
        <div ng-view></div><br />

    </div>
    <!--angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <!--site-->

    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
</body>
</html>
